#list {
  list-style: none;
  padding-left: 0;
  font-size: 1.3rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 1.5rem;
}

#title {
  font-size: 2.5rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  text-align: center;
  color: blue;
}

.gridContainer {
  display: grid;
  grid-template-columns: 69% 29%;
  margin: 0.4rem;
  margin-top:1rem;
}

.container {
  margin: 0.4rem;
}

.column {
  padding: 0.5rem;
  font-size: 1rem;
}

.deleteButton {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: red;
  text-align: center;
  font-size: 0.75rem;
  padding:0;
}

